.dbru-theme-dark {
  --dbru-color-bg: #141414;
  --dbru-color-surface: #1e1e1e;
  --dbru-color-text: #e2e2e2;
  --dbru-color-border: #3a3a3a;

  --dbru-color-primary: #7f6df2;
  --dbru-color-on-primary: #ffffff;

  --dbru-color-danger: #f87171;
  --dbru-color-on-danger: #ffffff;

  --dbru-color-focus: #7f6df2;
}
