.dbru-theme-dark {
  --dbru-color-bg: #1e1e1e;
  --dbru-color-surface: #262626;
  --dbru-color-text: #dcddde;
  --dbru-color-border: #b1afbb;

  --dbru-color-primary: #7f6df2;
  --dbru-color-on-primary: #ffffff;

  --dbru-color-danger: #e95563;
  --dbru-color-on-danger: #ffffff;

  --dbru-color-focus: #7f6df2;
}
