.dbru-theme-light {
  --dbru-color-bg: #f6f4f1;
  --dbru-color-surface: #ffffff;
  --dbru-color-text: #1b1b1b;
  --dbru-color-border: #cdcbc8;

  --dbru-color-primary: #2563eb;
  --dbru-color-on-primary: #ffffff;

  --dbru-color-danger: #dc2626;
  --dbru-color-on-danger: #ffffff;

  --dbru-color-focus: #2563eb;
}
