name: Publish

on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - name: Check version changed
        id: version
        run: |
          VERSION_CHANGED=$(git diff -G'"version"' HEAD^ HEAD package.json | wc -l)
          if [ "$VERSION_CHANGED" -eq 0 ]; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Install
        if: steps.version.outputs.changed == 'true'
        run: npm ci

      - name: Build
        if: steps.version.outputs.changed == 'true'
        run: npm run build

      - name: Publish
        if: steps.version.outputs.changed == 'true'
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
